Source: oxpoints-legacy-servlet
Section: java
Priority: extra
Maintainer: Alexander Dutton <alexander.dutton@it.ox.ac.uk>
Build-Depends: debhelper,
               libgaboto-java
Standards-Version: 3.8.4
Homepage: https://github.com/ox-it/oxpoints-legacy
Vcs-Git: git://github.com/ox-it/oxpoints-legacy.git

Package: liboxpoints-legacy-servlet-java
Section: java
Architecture: all
Description: Legacy OxPoints servlet
 Gaboto-based OxPoints servlet.
