#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_clean:
	mvn clean

override_dh_auto_install:
	mvn package -Dmaven.test.skip=true
	mkdir -p debian/liboxpoints-legacy-servlet-java/usr/share/oxpoints
	cp target/oxp.war debian/liboxpoints-legacy-servlet-java/usr/share/oxpoints

