<web-app xmlns="http://java.sun.com/xml/ns/j2ee" version="2.4"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http:/java.sun.com/dtd/web-app_2_3.dtd">
  
  <session-config>
        <session-timeout>120</session-timeout>
  </session-config>
  
    
  <servlet>
    <servlet-name>OxPointsQueryServlet</servlet-name>
    <servlet-class>uk.ac.ox.oucs.erewhon.uriinterface.OxPointsQueryServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>OxPointsQueryServlet</servlet-name>
    <url-pattern>/OxPQ</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OxPointsQueryServlet</servlet-name>
    <url-pattern>/OxPQ/*</url-pattern>
  </servlet-mapping>
  
</web-app>